body{
    background-color: #123;
    margin: 0;
    overflow: hidden;
}

.sea {
    --wave-color: #789;
    position: relative;
    height: 80vh;
    width: 100vw;
    background-image: linear-gradient(360deg, #234 64%, #cfa36e 50%);
    cursor: none;
    perspective-origin: center top;
    perspective: 500px;
}
.sea .wave {
    width: 200%;
    position: absolute;
    left: -50%;
    bottom: 100px; 
}

.sea .wave::before {
    content: "";
    display: block;
    height: 30px;
    background-image: radial-gradient(var(--wave-color) 48%, transparent 50%);
    background-position: 50px -10px;
    background-size: 100px 200px;
    background-repeat: repeat-x;

}

.sea .wave::after {
    content: "";
    display: block;
    height: 30px;
    background-image: radial-gradient(transparent 45%, var(--wave-color) 44%);
    background-position: 0px -35px;
    background-size: 100px 75px;
    background-repeat: repeat-x;
}