/* -----------ship---------- */
.ship {
    width: 400px;
    height: 50px;
    position: absolute;
    top: 323px;
}

.ship__head {
    margin-right: -5px;
    width: 100px;
    height: 50px;
    display: inline-block;
    background-image: linear-gradient(#292929 50%, rgba(93, 1, 1, 1) 50%);
}

.ship__head::before {
    content: '';
    height: 50px;
    width: 23px;
    display: block;
    background-image: linear-gradient(#292929 50%, rgba(93, 1, 1, 1) 50%);
    transform-origin: left bottom;
    transform: skew(25deg);
}

.ship__head::after {
    content: '';
    height: 13px;
    width: 33px;
    display: block;
    background-color: #333;
    position: absolute;
    top: -13px;
    left: 40px;
    border-radius: 10px 10px 0 0;
}

.head__gun-component {
    height: 3px;
    width: 20px;
    position: absolute;
    background-color: #333;
    top: -5px;
    left: 27px;
    transform-origin: right top;
    transform: rotate(30deg);
}

/* body */
.ship__body {
    width: 200px;
    height: 50px;
    display: inline-block;
    margin-left: -4px;
    background-image: linear-gradient(#292929 50%, rgba(93, 1, 1, 1) 50%);
}

.body__component-horizontal {
    background-color: #333;
    width: 200px;
    height: 20px;
    display: inline-block;
    margin-left: -4px;
    position: absolute;
    top: -19px;
    left: 104px;
}

.body__component-horizontal::before {
    content: '';
    height: 20px;
    width: 13px;
    display: block;
    background-color: #333;
    position: absolute;
    left: -10px;
    transform-origin: right bottom;
    transform: skew(-25deg);
}

.body__component-horizontal::after {
    content: '';
    height: 20px;
    width: 13px;
    display: block;
    background-color: #333;
    position: absolute;
    right: -10px;
    transform-origin: right bottom;
    transform: skew(25deg);
}

.body__gun {
    height: 13px;
    width: 33px;
    display: block;
    background-color: #333;
    position: absolute;
    top: -30px;
    left: 125px;
    border-radius: 10px 10px 0 0;
}

.body__gun::before {
    content: '';
    height: 3px;
    width: 20px;
    position: absolute;
    background-color: #333;
    top: 2px;
    left: -12px;
    transform-origin: right top;
    transform: rotate(30deg);
}

.body__component-horizontal-2 {
    background-color: rgba(93, 1, 1, 1);
    width: 100px;
    height: 17px;
    display: inline-block;
    margin-left: -4px;
    position: absolute;
    top: -35px;
    left: 175px;
}

.body__component-horizontal-2::before {
    content: '';
    height: 17px;
    width: 13px;
    display: block;
    background-color: rgba(93, 1, 1, 1);
    position: absolute;
    left: -10px;
    transform-origin: right bottom;
    transform: skew(-25deg);
}

.body__component-horizontal-2::after {
    content: '';
    height: 17px;
    width: 13px;
    display: block;
    background-color: rgba(93, 1, 1, 1);
    position: absolute;
    right: -10px;
    transform-origin: right bottom;
    transform: skew(25deg);
}

.body__component-horizontal-3 {
    background-color: #333;
    width: 60px;
    height: 10px;
    display: inline-block;
    margin-left: -4px;
    position: absolute;
    top: -45px;
    left: 195px;
}

.body__component-horizontal-3::after {
    content: '';
    height: 10px;
    width: 13px;
    display: block;
    background-color: #333;
    position: absolute;
    right: -10px;
    transform-origin: left bottom;
    transform: skew(25deg);
}

.body__component-horizontal-3::before {
    content: '';
    height: 30px;
    width: 3px;
    display: block;
    background-color: #333;
    position: absolute;
    top: -27px;
    right: 30px;
}

.body__component-horizontal-top {
    height: 15px;
    width: 8px;
    display: block;
    background-color: rgba(93, 1, 1, 1);
    position: absolute;
    top: -58px;
    right: 163px;
}

.body__component-horizontal-top::before {
    content: '';
    height: 12px;
    width: 5px;
    display: block;
    background-color: rgba(93, 1, 1, 1);
    position: absolute;
    top: 0px;
    right: 30px;
}

.body__component-horizontal-top::after {
    content: '';
    height: 3px;
    width: 17px;
    display: block;
    background-color: rgba(93, 1, 1, 1);
    position: absolute;
    top: -15px;
    right: 9px;
}

/* tail */
.ship__tail {
    position: relative;
    width: 85px;
    height: 50px;
    display: inline-block;
    margin-left: -8px;
    background-image: linear-gradient(#292929 50%, rgba(93, 1, 1, 1) 50%);
    border-radius: 0 0 50px 0;
}

.ship__tail::before {
    content: '';
    height: 3px;
    width: 20px;
    position: absolute;
    background-color: #333;
    top: -10px;
    left: 60px;
    transform-origin: left top;
    transform: rotate(-30deg);
}

.ship__tail::after {
    content: '';
    height: 13px;
    width: 33px;
    display: block;
    background-color: #333;
    position: absolute;
    top: -11px;
    left: 35px;
    border-radius: 10px 10px 0 0;
}