/* scope */
.scope {
    width: 200px;
    height: 200px;
    border: 2px solid darkgreen;
    border-radius: 100%;
    color: darkgreen;
    font-size: 40px;
    position: absolute;
    bottom: -40px;
    z-index: 99;
    transform: scale(0.58);
    cursor: none;
}

.scope .mid {
    width: 200px;
    height: 200px;
    position: absolute;
    text-align: center;
    line-height: 200px;
}

.scope .h {
    width: 200px;
    height: 400px;
    position: absolute;
    line-height: 190px;
    letter-spacing: 174px;
    text-wrap: nowrap;
}

.scope .v {
    width: 200px;
    height: 400px;
    position: absolute;
    line-height: 210px;
    letter-spacing: 174px;
    writing-mode: vertical-lr;
}

/* -----------torpedo---------- */
.torpedo {
    width: 200px;
    height: 400px;
    position: absolute;
    transform: scale(0.2);
    top: 210px;
    z-index: 99;
}

.torpedo .head {
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    margin: 10px auto auto auto;
    border-radius: 50px 50px 0 0;
    background-color: rgba(66, 2, 17, 1);
}

.torpedo .body {
    width: 100px;
    height: 140px;
    border: 1px solid transparent;
    margin: 0 auto;
    background-color: #666;
}

.torpedo .tail {
    width: 100px;
    height: 105px;
    border: 1px solid #888;
    margin: 0 auto;
    position: relative;
    background-color: #888;
}

.torpedo .tail::before {
    content: "";
    display: block;
    width: 50px;
    height: 100px;
    border: 1px solid #555;
    position: absolute;
    z-index: -2;
    right: -50px;
    transform-origin: right bottom;
    transform: skew(25deg);
    background-color: #555;
}

.torpedo .tail::after {
    content: "";
    display: block;
    width: 50px;
    height: 100px;
    position: absolute;
    z-index: -2;
    left: -50px;
    transform-origin: left bottom;
    transform: skew(-25deg);
    background-color: #555;
}

.torpedo .tail__component {
    position: absolute;
    left: 47.5px;
    width: 5px;
    height: 100px;
    background-color: #555;
}

.torpedo .tail__fire {
    position: absolute;
    bottom: -30px;
    left: -1px;
    width: 102px;
    height: 30px;
    background-image: linear-gradient(#c89215, transparent);
}

/* explosion ----------------------------------------*/
.explosion {
    position: absolute;
    /* left: 500px; */
    /* top: 20px; */
    top: 210px;
    /* bottom: 0; */
    z-index: 999;

    width: 150px;
    height: 150px;

    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.fire-bottom-sm {
    grid-column-start: 2;
    grid-row-start: 3;
    background-image: radial-gradient(rgb(239, 248, 65), transparent 70%);
    background-position-y: 35px;
    background-repeat: no-repeat;
    animation: fire 1.5s infinite;
    animation-fill-mode: forwards;

}

.fire-bottom-md {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;

    background-image: radial-gradient(rgb(191, 83, 6), transparent 75%);
    background-position-y: 30px;
    background-repeat: no-repeat;
    animation: fire 1.5s infinite;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

.fire-bottom-l {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;

    background-image: radial-gradient(rgb(247, 30, 10), transparent 80%);
    background-position-y: 20px;
    background-repeat: no-repeat;
    animation: fire 1.5s infinite;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes fire {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.7;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        background-size: 0 0;
    }
}

/* score----------- */
.score{
    position: absolute;
    right: 3vw;
    bottom: 10vh;
    color: rgb(64, 153, 5);
    font-size: 32px;
    font-weight: 600;
    font-family: arial;
}