
@for $i from 1 through 10 {
    .wave:nth-of-type(#{$i}) {
        z-index: 100- $i*10;
        transform: translateZ(-50px * $i);
        filter: brightness(100%-$i * 5%)blur(0.2px *$i);

        // animation: waves 5s+$i+1s infinite ;
        animation-delay: random()*5;
    }
}

@keyframes waves {
    0% {
        left: -50%;
    }

    33% {
        left: -47%;
    }

    66% {
        left: -49%;
    }

    100% {
        left: -50%;
    }
}