 #map {
     border: 5px solid #555;
     margin: 1vh auto;
     position: relative;
 }

 #map>div {
     border: 1px solid #222;
     width: 62px;
     height: 62px;
     float: left;
 }


/*--------- HW1* ------ /
/* #map {
    border: 5px solid #555;
    margin: 1vh auto;
    position: relative;
    background: repeating-linear-gradient(0, transparent 0, transparent 62px, #222 63px, #222 64px),
        repeating-linear-gradient(90deg, transparent 0, transparent 62px, #222 63px, #222 64px);
    background-position: 0 0;
} */

/* --------- HW2* -------/
/* #map>div {
    background-color: #222;
    float: left;
} */



