body{
    background-color: #333;
    margin: 0;
}
.img{
    background-image: url(img/snake/snake-graphics.png);
    /* background-position: 0 0; */
    background-size: cover;
    width: 150px;
    height: 150px;

}
